@{
    ViewBag.Title = "Finra Challenge Application";
}

<div class="jumbotron">
    <p class="lead">
    Hello
    <br />My name is Armin Doroudian. I have been a .Net developer since .Net platform came out in early 2000s.
        <br />
        I also have worked with SQL Server and Oracle databases as a database admin/developer.
        <br />
        I am comfortable using front-end technologies. JQuery/CSS/HTML etc.
        <br />
        I have done a couple of projects using Java/Delphi/C++ ...
    </p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            To see the project, please click on the button below.
        </p>
        <br />
        <p><a class="btn btn-default" href="API/Calculate">Calculate and Show Permutations &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Notes</h2>
        <p>I am using server side caching on the phone number entered. However, the result set is fairly large and in a real world application, I would save the result set as a JSON object in a text file and load it next times the phone number is looked up.
            </p>
    </div>
    <div class="col-md-4">
        <h2>&nbsp;</h2>
        <p>To enable this feature, please give write access to folder "~/Cache"
            <br />
            System works without this permission, but will perform better with it.
            <br />
            Please check the unit testing project in solution as well.
        </p>
    </div>
</div>